pkgbase = anarlog-bin
	pkgdesc = AI notepad for meetings — local-first, E2EE desktop note-taking app
	pkgver = 1.4.8
	pkgrel = 1
	url = https://anarlog.so
	arch = x86_64
	arch = aarch64
	license = MIT
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libpipewire
	depends = libpulse
	depends = alsa-lib
	depends = openssl
	depends = gcc-libs
	depends = ca-certificates
	depends = desktop-file-utils
	depends = xdg-utils
	depends = hicolor-icon-theme
	optdepends = libayatana-appindicator: tray icon support
	optdepends = pipewire: audio capture at runtime
	provides = anarlog
	conflicts = anarlog
	options = !strip
	source = LICENSE-1.4.8::https://raw.githubusercontent.com/fastrepl/anarlog/desktop_v1.4.8/LICENSE
	sha256sums = ba9cc3a7e074c5cfe3985d6956f24c9f7575592a0483e314c9fcb4f72ee1b615
	source_x86_64 = anarlog-1.4.8-x86_64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.8/anarlog-linux-x86_64.deb
	sha256sums_x86_64 = 10c0c170f19b8d46c2acccb9ff70a917c9a6c0ce55481b0815f21255048537ee
	source_aarch64 = anarlog-1.4.8-aarch64.deb::https://github.com/fastrepl/anarlog/releases/download/desktop_v1.4.8/anarlog-linux-aarch64.deb
	sha256sums_aarch64 = 74e06ae01e838e8e972fbcdd1034fcb9e6c45869b04573fa3b7c3405d1b0f128

pkgname = anarlog-bin
